<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<h3> Registration</h3>
<form action="register" method="post">

    {% csrf_token %}

    <input type="text" name="username" placeholder="Usename"><br>
    <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="email" name="email" placeholder="Email Id"><br>
    <input type="password" name="passwrd" placeholder="Password"><br>
    <input type="password" name="compaswrd" placeholder="Confirm passwprd"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>